.sortName{
    font-size: 2.25vw;
}

.circles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 3vw;
}

.circles > div{
    background-color: rgb(155, 84, 84);
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    line-height: 6vw;
    text-align: center;
    color: rgb(255, 240, 198);
    font-size: 3vw;
}

.Btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.Btns > button{
    width: 15vw;
    height: 5vh;
    border: 1px black solid;
    background: none;
    cursor: pointer;
    font-size: 1.25vw;
}

.Btns > button:hover{
    transform: scale(1.25);
    transition: 0.5s;
}

.Btns > button:not(:hover){
    transition: 0.5s;
}

@media screen and (max-width: 720px){
    .sortName{
        font-size: 4.25vw;
    }
    
    .circles{
        padding: 3vw;
    }
    
    .circles > div{
        width: 12.5vw;
        height: 12.5vw;
        line-height: 12.5vw;
        text-align: center;
        font-size: 4vw;
    }

    .Btns{
        margin-top: 1.75vh;
        margin-bottom: 1.75vh;
    }

    .Btns > button{
        width: 25.5vw;
        height: 3.75vh;
        border: 1px black solid;
        background: none;
        cursor: pointer;
        font-size: 2.625vw;
    }
    
    .Btns > button:hover{
        transform: scale(1);
    }
    
    .Btns > button:not(:hover){
        transition: 1s;
    }
}