.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.5vh;
    margin-bottom: 3.75vh;
}

.footer > a{
    border: 1.5px black solid;
    border-radius: 24px;
    padding: 1vw;
    text-decoration: none;
}

.footer > a:hover{
    background-color: rgb(255, 240, 198);
    transition: 0.5s;
}

.footer > a > div{
    color: black;
}

@media screen and (max-width: 720px){
    .footer{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .footer > a{
        border: 1px black solid;
        font-size: 3.5vw;
        padding: 2.25vw;
    }
}